.menutext a:active {
  text-decoration: none;
}
#site_header {
    width:700px;
    height:100%;
    margin:0 auto;
    padding: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
#menu {
    background-color:#f1f1f1;
    width:100%;
    height: auto
    display: inline-block;
    padding: 0;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
#menuboxdetail {
    width:100%;
    height:3px;
    background-color:#ff5d72;
    padding: 0 1cm 0 1cm;
}
#menucontent {
    width:100%;
    background-color:#f1f1f1;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.menuitem {
    min-height:60px;
    min-width:100px;
    display:inline-block;
    border-top: 5px solid rgba(255,255,255,0.5);
    border-right: 1px solid #ebeaea;
    border-bottom: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
}
.menuitem:hover {
    background: #f6f6f6;
    border-top: 5px solid #ff5d72;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.menuitem:active {
    background: #ff5d72;
    border-top: 5px solid #ff5d72;
    border-right: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
    border-left: 1px solid #dedede;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.menutext {
    color:#000;
    height:100%;
    width:100%;
    text-align: center;
    transform: translateY(+80%);
}
#searchboxdetail {
    width:100%;
    height:1px;
    background-color:#ff5d72;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
#searchboxcontent {
    width:100%;
    color:#ff5d72;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

#content {
    width:700px;
    margin:auto;
    background-color:#f7f7f7;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.issuebox {
    width:32.8%;display:
    inline-block;
    vertical-align: top;
    padding-bottom: .3cm;
}
.issueboxdetail {
    width:100%;
    height:2px;
    background-color:#ff5d72;
}
.issueboxhead {
    color:#454545;
    background-color: #f1f1f1;
    padding: .1cm 0 .1cm 0;
    text-align: center;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.issueboxcontent {
    width:100%;
    padding:.2cm .5cm .1cm .5cm;
    color:#9d9d9d;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    background-color: #fcfcfc;
}
.issueboxfooter {
    width:100%;
    color:#ff5d72;
    background-color:#eaeaea;
    padding:.3cm .5cm .3cm .5cm;
    text-align: center;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-bottom:1px solid #dedede;
    border-top:1px solid #dedede;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}

.projectbox {
    width:100%;
    display:inline-block;
    vertical-align: top;
    padding-bottom: .3cm;
}
.projectboxdetail{
    width:100%;
    height:2px;
    background-color:#ff5d72;
}
.projectboxhead{
    color:#454545;
    background-color: #f1f1f1;
    padding: .1cm 0 .1cm 0;
    text-align: center;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-top:1px solid #dedede;
    border-bottom:1px solid #dedede;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
.projectboxcontent{
    width:100%;
    padding:.2cm .5cm .1cm .5cm;
    color:#9d9d9d;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    background-color: #fcfcfc;
}
.projectboxfooter{
    width:100%;
    color:#ff5d72;
    background-color:#eaeaea;
    padding:.3cm .5cm .3cm .5cm;
    text-align: center;
    border-left:1px solid #dedede;
    border-right:1px solid #dedede;
    border-bottom:1px solid #dedede;
    border-top:1px solid #dedede;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}
#footerboxdetail {
    width:100%;
    height:1px;
    background-color:#dedede;
}
