{% extends "base.html" %}
{% block content %}

<div class=issuebox>
    <div class=issueboxdetail></div>
        <div class=issueboxhead>
            <h4>example #1</h4>
        </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox >
    <div class=issueboxdetail></div>
    <div class=issueboxhead>
        <h4>example #2</h4>
    </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox>
    <div class=issueboxdetail></div>
    <div class=issueboxhead>
        <h4>example #3</h4>
    </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox>
    <div class=issueboxdetail></div>
        <div class=issueboxhead>
            <h4>example #1</h4>
        </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox >
    <div class=issueboxdetail></div>
    <div class=issueboxhead>
        <h4>example #2</h4>
    </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox>
    <div class=issueboxdetail></div>
    <div class=issueboxhead>
        <h4>example #3</h4>
    </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>
<br>
<br>

{% endblock %}
