{% extends "base.html" %}
{% block content %}


<h3 style="padding:0;margin:0;"> Latest Issues </h3>
<hr>

{% for x in issue %}
<div class=issuebox>
    <div class=issueboxdetail></div>
        <div class=issueboxhead>
            <a href="{{ url_for('get_issue', id=x.id ) }}"><h4>Issue #{{ x.id }}</h4></a>
        </div>
    <div class=issueboxcontent>
        {{ x.issue_data }}
        <h6>
            Project: <a href="{{ url_for('get_project', id=x.project_id ) }}">{{ x.project_id }}</a><br>
            Issued: {{x.issue_date}}<br>
            Source: {{x.src}}<br>
            Type: {{x.issue_type}}<br>
        </h6>
    </div>
    <div class=issueboxfooter>
        {% if x.issue_complete == 1 %}
        Completed: <a href="#"><span class="glyphicon glyphicon-ok" style="color:green;" aria-hidden="true"></span></a>
        {% else %}
        Completed: <a href="#"><span class="glyphicon glyphicon-remove" style="color:red;" aria-hidden="true"></span></a>
        {% endif %}
    </div>
</div>
{% endfor %}

{% endblock %}
