{% extends "base.html" %}
{% block content %}
<div class=projectbox>
    <div class=projectboxdetail></div>
        <div class=projectboxhead>
            {% if project.0.archived == 1 %}
            <h4 style="padding-bottom:0px;margin-bottom:0px;">{{project.0.project_code}}-{{project.0.project_iter}} | {{project.0.name}} | ARCHIVED</h4>
            {% else %}
            <h4 style="padding-bottom:0px;margin-bottom:0px;">{{project.0.project_code}}-{{project.0.project_iter}} | {{project.0.name}}</h4>
            {% endif %}
            <small><a href="#">Edit</a> | <a href="{{ url_for('patch_project', id=project.0.id, archive=1 ) }}">Archive</a></small>
        </div>
    <div class=projectboxcontent>
        <div style="display: inline-block;width:290px;vertical-align: text-top;">
        <span style='color:#4eb0e5;'><b>Development</b></span><br>
        Client: {{project.0.client}} <br>
        website: <a href='#'>http://www.needsimp.com/</a><br>
        location: <a href='https://www.google.com/maps/@40.7557414,-73.9836662,14z'>Google maps</a><br>
        <br>
        <span style='color:#4eb0e5;'><b>Reference</b></span><br>
        scheme: <a href='#'>1</a>, <a href='#'>4</a><br>
        <br>
        <span style='color:#4eb0e5;'><b>Final deliverables</b></span><br>
        Film: 8 cgi shots.<br>
        Still: 13 stills.<br>
        Creative: website.<br>

        </div>
        <div style="display: inline-block;width:290px;vertical-align: text-top;">
            <span style='color:#4eb0e5;'><b>Project</b></span><br>
        Project Lead: [IMP] <br>
        Start Date: [IMP] <br>
        End Date: [IMP]<br>
        <br>
        Current Phase: <a href='#'>Second round</a><br>
        <br>
        <span style='color:#4eb0e5;'><b>Groups</b></span><br>
        <a href='#'>round 1 comments</a>, <a href='#'>round 2 comments</a>
        </div>

        <hr>
        <span style='color:#4eb0e5;'><b>Issues</b></span><br>

        Open Issues:
        {% for issue in project.0.issues.items() %}
        {% if issue.1.1 == 0 %}
        <a href="{{ url_for('get_issue', id=issue.0 ) }}">{{issue.0}}</a>,
        {% endif %}
        {% endfor %}
        <br>

        Closed Issues:
        {% for issue in project.0.issues.items() %}
        {% if issue.1.1 == 1 %}
        <a href="{{ url_for('get_issue', id=issue.0 ) }}">{{issue.0}}</a>,
        {% endif %}
        {% endfor %}

    </div>
    <div class=projectboxfooter>
        ...
    </div>
</div>


{% endblock %}
