{% extends "base.html" %}
{% block content %}

<h6 style="padding:0;margin:0;color:grey;"> Results - [IMP: len()] </h6>
<br>

{% for x in issues %}
<br>

<div class=issuebox>
    <div class=issueboxdetail></div>
        <div class=issueboxhead>
            <h4>Issue #{{ x.id }}</h4>
        </div>
    <div class=issueboxcontent>
        {{ x.issue_data }}
        <h6>
            Project : <a href='#'>{{ x.project_id }}</a><br>
            Issued: {{x.issue_date}}
        </h6>
    </div>
    <div class=issueboxfooter>
        {{x.src}} | {{x.issue_type}} | {{x.issue_complete}}
    </div>
</div>

{% endfor %}

<!--

<hr>

<div class=issuebox>
    <div class=issueboxdetail></div>
        <div class=issueboxhead>
            <h4>issue #[id]</h4>
        </div>
    <div class=issueboxcontent>
        group, src, issue_date,

        [issue_data - [more...]]
        <hr>
        <small>[project_id - name and code]
        [issue_date]</small>
    </div>
    <div class=issueboxfooter>
        [i:issue_type] | [Sign Off]
    </div>
</div>
<div class=issuebox >
    <div class=issueboxdetail></div>
    <div class=issueboxhead>
        <h4>project #001</h4>
    </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox>
    <div class=issueboxdetail></div>
    <div class=issueboxhead>
        <h4>client #001</h4>
    </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox>
    <div class=issueboxdetail></div>
        <div class=issueboxhead>
            <h4>user #001</h4>
        </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox >
    <div class=issueboxdetail></div>
    <div class=issueboxhead>
        <h4>comment #001</h4>
    </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

<div class=issuebox>
    <div class=issueboxdetail></div>
    <div class=issueboxhead>
        <h4>example #1</h4>
    </div>
    <div class=issueboxcontent>
        content, content, content, content, content, content, content, content, content, content,
        content, content, content, content, content, content, content, content, content, content.
    </div>
    <div class=issueboxfooter>
        <small>Footer</small>
    </div>
</div>

-->

{% endblock %}
